//General
* {
  box-sizing: border-box;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

//Topbar
.top-bar{
  background-color: #36393f;
  border-bottom: 1.5px solid #2b2e32;
  display:block;
  min-height:45px;
  width: 100%;
  z-index:1200;
}

//Background Column
.background-column {
  float: left;
  width: 15%;
  padding: 10px;
  height: 100%; 
  background-image: url("https://www.tokkoro.com/picsup/5635134-pyre-hd-wallpapers.jpg");
  min-height: 940px; 
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}

.user-container{
  background-color: #292b2f;
  color: #fff;
  font-size: 24px;
  padding-top: 8%;
  padding-bottom: 8%;
} 
.username-container{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis; 
  width: 120px;
}
.user-container img{
  margin-left: 5%;
  border-radius: 50%;
  vertical-align: middle;
}
.user-container label{
  margin-left: 5%;
  font-size: 16px;
  min-width: 50px;
}
.user-container button{
  cursor: pointer;
  background-color: #f04747;
  border: none;
  font-size: 15px;
  min-width: 65px;
  min-height: 30px;
  color: #fff;
}
.user-container button:hover{
  cursor: pointer;
  background-color: #e04444;
  border: none;
  padding: 2% 2% 2% 2%;
  color: #fff;
}

//Chat Column
.chat-column {
  float: left;
  width: 70%;
  padding: 10px;
  height: 100%; 
  background-color: #36393f;
}
.text-message{
	background-color: #E8F0FE;
  border: none;
  color: #000;
	padding: 12px 15px;
	margin: 8px 0;
  width: 100%;
  font-size: 14px;
  border-radius: 3px;
}
.text-message:hover{
  border-radius: 3px;
}
.chat-list{
  height:820px; 
  width:100%;
  overflow:hidden;
  overflow-y:scroll;
}
.chat-list::-webkit-scrollbar-track {
  background-color: #2f3136;
  border-radius: 15pt;
  width: 7pt;
} 
.chat-list::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 15pt;
  width: 7pt;

} 
.chat-list::-webkit-scrollbar {
  background-color: transparent;
  width: 7pt;
}


.chat-list .username{
  color:#fff;
  font-size: 16px;
  // vertical-align: top;
}
.chat-list .post-time{
  color:#727673;
  font-size: 12px;
  // vertical-align: top;
}
.chat-list p{
  color:#d5d8dc;
  font-size: 15px;
}
.user-image{
  margin-left: 5%;
  border-radius: 50%;
  vertical-align: middle;
}
.chat-list img{
  border-radius: 50%;
  vertical-align: middle;
}

//User Column
.users-column {
  float: left;
  width: 15%;
  padding: 10px;
  height: 1080px;
  background-color: #2f3136;
}
.users-column span{
  font-size: 17px;
  color: #fff;
}
.userlist-container{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis; 
  width: 205px;
}
