<div class="top-bar"></div>
<div class="row">
  <div class="background-column">
    <div class="user-container">
      <div class="user-wrapper">
        <img class="user-image"src="https://ih1.redbubble.net/image.539340996.7218/flat,550x550,075,f.jpg" width="48" height="48">
        <span class="username-container">
          <label>{{user.username}}</label>
        </span>
        <button (click)="logOut()">Log Out</button>
    </div>
  </div>
  <div>
    <form [formGroup]="userForm" (ngSubmit)="editUser(userForm.value)" autocomplete="on">
      <input type="username" name="username" value="{{user.username}}" autocomplete="username" formControlName="username"/>
      <input type="usernameColor" autocomplete="usernameColor" value={{user.usernameColor}}  formControlName="usernameColor"/>
      <button type="submit">Edit</button>
    </form>
  </div>
</div>

  <div class="chat-column">
    <ul class="chat-list" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <li class="text" *ngFor="let message of messages | async" >
        <p style="line-height:25px;"> 
          <span *ngIf="!isPreviousUsernameEqual(message.username, false)"> 
            <br>           
            <img src="https://ih1.redbubble.net/image.539340996.7218/flat,550x550,075,f.jpg" width="42" height="42">
            <div style="display: inline-block;overflow: hidden; width: 8px;"></div>
            <span class="username" [ngStyle]="{'color': message.usernameColor}">{{message.username}}</span>
            <span class="post-time"> {{timeConverter(message.postTime)}} </span> 
            <br><div style="display: inline-block;overflow: hidden; width: 50px;"></div>{{message.text}}
          </span>
          <span *ngIf="isPreviousUsernameEqual(message.username, true)"> 
            <div style="display: inline-block;overflow: hidden; width: 50px;"></div>{{message.text}}
          </span>
        </p>
      </li>
    </ul>    
    <form [formGroup]="messageForm" (ngSubmit)="sendMessage(messageForm.value)">
      <div>
        <input class="text-message" placeholder="Message" formControlName="text">
      </div>
    </form>
  </div>

  <div class="users-column">
    <h5 style="color: #8e9297">USERS— {{getUsersAmount()}}</h5>
    <ul class="chat-list">
      <li class="text" *ngFor="let user of users | async">
        <br>
        <p>        
          <img src="https://ih1.redbubble.net/image.539340996.7218/flat,550x550,075,f.jpg" width="32" height="32">
          <span class="userlist-container">
            <span style="margin-left: 5%;" [ngStyle]="{'color': user.usernameColor}">{{user.username}}</span> 
          </span>
        <br>
      </li>
    </ul>    
    <h5 style="color: #8e9297">OFFLINE— 0</h5>
  </div>
</div>

<span *ngIf="!user">
  <div class="loading-ring"></div>
</span>