<div class="container">
  <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" autocomplete="on">
      <h1>Welcome back!</h1>
      <h2>Proceed to login to your account!</h2>
      <label>Email</label>
      <input type="email" name="email" autocomplete="username" formControlName="email"/>
      <label>Password</label>
      <input type="password" autocomplete="current-password"  formControlName="password"/>
      <a (click)="resetPassword(loginForm.value)">Forgot your password?</a>
      <button type="submit" class="login-button">Login</button>
      <span>Need an account? <a routerLink="/register">Register</a></span>
      <p style="color: red;">{{ logInError }}</p>
    </form>
  </div>
</div>  