*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: whitney,"Helvetica Nueue";
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  overflow-y: hidden;
}

@font-face {
  font-family: whitney;
  src: url(assets/fonts/Whitney.otf) format("opentype");
}